.main-container {
  display: flex;
  flex-flow: row nowrap;
  color: black;
  background-color: white;
  min-height: 100vh;
}

.sidebar-container {
  width: 180px;
  border-right: 1px dashed gray;
}

.page-container {
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
  overflow: auto;
}

.header-container {
  height: 60px;
  border-bottom: 1px dashed gray;
}

.contextual-container {
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
}

.contextual-wrapper {
  flex: 1;
}

.footer-container {

}